html {
	scroll-behavior: smooth;
	@media (min-width: 1800px) {
		font-size: 75%;
	}
	@media (min-width: 2200px) {
			font-size: 85%;
		}
	@media (min-width: 3000px) {
		font-size: 100%;
	}
}
body {
	background: #f0f0f0;
	font-family: "Bricolage Grotesque", sans-serif;
}
a {
	color: blue;
	text-decoration: underline dotted;
}
a:hover {
	text-decoration: underline solid;
}
hr {
	width: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.05);
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: block !important;
	overflow: hidden;
}
@media (max-width: 899px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
section.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
    z-index: 0;
}
@media (max-width: 1513px) {
	.container.wrap {
		max-width: 940px;
	}
}

h1.overlay-title {
	font-size: 4.8rem;
	font-weight: 350;
	text-transform: unset;
	margin-top: 4px;
	margin-bottom: 80px;
	line-height: 1.2;
	max-width: 67%;
}
@media (max-width: 899px) {
    h1.overlay-title {
		font-size: 3.2rem;
		margin-bottom: 24px;
		font-variation-settings: 'wdth' 87.5;
	}
}
h2.overlay-title, span.overlay-title {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 1.2rem;
	font-weight: 550;
	opacity: 0.3;
	margin-top: 0;
	margin-bottom: 12px;
	letter-spacing: 0.1;
	text-transform: unset;
	text-box-trim: trim-both;
}
p.overlay-title {
	font-family: "Inter", 'Bricolage Grotesque', sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
}
h2.portfolio-header {
	font-size: 4.0rem;
	font-weight: 350;
	text-transform: unset;
	margin-top: 0;
	margin-bottom: 24px;
}
@media (max-width: 899px) {
    h2.portfolio-header {
		font-size: 3.2rem;
		margin-bottom: 20px;
	}
}
p.portfolio-header:not(:first-child) {
	margin-top: 64px;
}
p.portfolio-header {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
}
h3.portfolio-content {
	font-family: "Inter", 'Bricolage Grotesque', sans-serif;
	font-size: 2.0rem;
	font-weight: 550;
	line-height: 1.3;
	margin-top: 0;
	margin-bottom: 12px;
	letter-spacing: 0.1;
	text-box-trim: trim-both;
}
p.portfolio-content:not(:last-child) {
	margin-bottom: 12px;
}
p.portfolio-content {
	font-family: "Inter", 'Bricolage Grotesque', sans-serif;
	font-size: 1.4rem;
	font-weight: 380;
	line-height: 1.5;
	max-width: 67ch;
	margin: 0;
}
@media (max-width: 899px) {
	p.portfolio-content {
		line-height: 1.8;
	}
    p.portfolio-content:not(:last-child) {
		margin-bottom: 16px;
	}
}

.research-highlights {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	padding: 12px 24px;
	background-color: #FBFBFB;
	border-radius: 1px;
	border-left: 1.5px solid black;
}
.research-highlights p {
	width: 100%;
	margin-bottom: 0 !important;
}
.research-highlights svg {
	flex-shrink: 0;
}
@media (max-width: 899px) {
	.research-highlights {
		flex-direction: column;
		gap: 8px;
		padding: 8px 16px;
		border-left: 1px solid black;
	}
	.research-highlights svg {
		rotate: 90deg;
	}
	.research-highlights p:last-child {
		font-size: 1.2rem;
	}
}

.metric {
	display: flex;
	gap: 40px;
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 1;
	@media (max-width: 899px) {
		flex-direction: column;
		gap: 20px;
		font-size: 2.4rem;
	}
}
.metric>div {
	max-width: 400px;
	@media (max-width: 899px) {
		max-width: 300px;
	}
}
.metric p {
	font-size: 1.4rem;
	opacity: 0.5;
	margin-top: 4px !important;
	line-height: 1.2;
	text-wrap-style: pretty;
	@media (max-width: 899px) {
		line-height: 1.5;
	}
}

.numbering {
	display: flex;
	flex-direction: row;
	gap: 8px;
}
.numbering div {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.numbering span {
	display: inline-block;
	padding: 0;
	position: relative;
	text-align: center;
	min-width: 20px;
	flex-shrink: 0;
	color: rgba(0, 0, 0, 0.2);
	font-family: "Inter", 'Bricolage Grotesque', sans-serif;
	font-size: 2rem;
	line-height: 1.3;
}
.numbering span:after {
	content: '';
	display: block;
	position: absolute;
	top: 40px;
	left: 50%;
	height: calc(100% - 44px);
	border-left: 1.5px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 899px) {
	.numbering h3 {
		font-size: 1.6rem;
		font-weight: 500;
	}
	.numbering span {
		margin-left: -2px;
		font-size: 1.6rem;
		min-width: 16px;
	}
	.numbering span:after {
		top: 36px;
		height: calc(100% - 40px);
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.small-numbering {
	font-size: 1.2rem;
	color: rgba(0,0,0,0.5);
	line-height: 1.3;
	display: flex;
	gap: 8px;
	align-items: center;
}
@media (max-width: 899px) {
	.small-numbering {
		align-items: unset;
	}
}

.project-container {
	display: block;
	flex: 0 0 100%;
	max-width: 100%;
}

.project-feature.card, .project-feature.card-row {
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	border-radius: 16px;
	padding: 60px;
	margin-bottom: 0;
	height: 100%;
	overflow: hidden;
	gap: 40px;
}
@media (max-width: 899px) {
    .project-feature.card, .project-feature.card-row {
		padding: 20px;
		gap: 20px;
		border-radius: 16px;
	}
}

@media screen and (min-width: 900px) {
    .project-feature.card-row {
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}
}

.end-text {
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
.end-text::before,
.end-text::after {
	background-color: rgb(0, 0, 0);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	opacity: 0.4;
}

.end-text::before {
	right: 0.5em;
	margin-left: -50%;
}

.end-text::after {
	left: 0.5em;
	margin-right: -50%;
}

/* Overrides */
.row {
	margin: 0 !important;
	gap: 24px;
}
.row:not(:last-child) {
	margin-bottom: 24px !important;
}
@media (max-width: 899px) {
    .row:not(:last-child) {
		margin-bottom: 20px !important;
	}
}

.col-12 {
	margin: 0 !important;
	max-width: unset;
}

.col-6-md {
	display: flex;
	flex-direction: column;
	-ms-flex: 0 0 calc((100% / (12/6)) - 12px);
    flex: 0 0 calc((100% / (12 / 6)) - 12px);
    max-width: calc((100% / (12 / 6)) - 12px);
}

.col-12-md {
	-ms-flex: 0 0 calc(100% / (12/12));
	flex: 0 0 calc(100% / (12 / 12));
	max-width: calc(100% / (12 / 12));
}

@media (max-width: 899px) {
	.col-12 {
		-ms-flex: 0 0 calc(100% / (12/12));
		flex: 0 0 calc(100% / (12 / 12));
		max-width: calc(100% / (12 / 12));
	}
}

/* Toggle */
.toggle-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
}
.toggle {
	width: 100%;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: none !important;
}

.switch {
	position: relative;
	width: 100%;
	height: 24px;
	background: #f5f5f5;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	overflow: hidden;
}

.switch-slider {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 24px;
	background-color: #fff;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transition: left 0.2s ease-out;
	z-index: 1;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.switch.active .switch-slider {
	left: 50%;
}

.left-label,
.right-label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: auto;
	height: auto;
	color: #000;
	transition: opacity 0.2s;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.left-label {
	left: 0;
	width: 50%;
	justify-content: center;
}

.right-label {
	right: 0;
	width: 50%;
	justify-content: center;
	opacity: 0.3;
}

.switch.active .left-label {
	opacity: 0.3;
}

.switch.active .right-label {
	opacity: 1;
}

.image-container {
	position: relative;
	width: 100%;
}

.switch-image {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
}

.left-image {
	position: relative;
	opacity: 1;
}

.right-image {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.image-container.switch-active .left-image {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.image-container.switch-active .right-image {
	opacity: 1;
	pointer-events: auto;
	position: relative;
}

@media (min-width: 1800px) {
	.expand img {
		max-width: unset !important;
		max-height: unset !important;
	}
}
@media screen and (max-width: 899px) {
	.expand {
		overflow-x: scroll;
		max-width: fit-content;
		width: calc(100% + 48px);
		padding-right: 24px;
		padding-left: 24px;
		margin-left: -24px;
	}
	.expand>img {
		height: auto;
		max-height: 400px;
		width: unset;
		max-width: none;
    }
}
