html {
	scroll-behavior: smooth;
}
body {
	background: #444;
	font-family: "Bricolage Grotesque", sans-serif;
	font-size: 1.6rem;
}
@media (max-width: 899px) {
	body {
		font-size: 1.4rem;
	}
}
a {
	color: blue;
	text-decoration: underline dotted;
}
a:hover {
	text-decoration: underline solid;
}
a:-webkit-any-link:focus-visible {
    outline-offset: 1px;
}
p {
	font-family: "Inter", "Bricolage Grotesque", sans-serif;;
}

@media (max-width: 1889px) {
	.widescreen {
		max-width: 1000px;
	}
}
.sidebar {
	width: 240px;
	background-color: white;
	outline: 1px solid rgba(0,0,0,0.05);
	display: flex;
	flex-direction: column;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	overflow-y: auto;
    z-index: 1000;
}
@media (max-width: 899px) {
	.sidebar {
		width: 100%;
		position: relative;
		height: auto;
	}
}
.sidebar-heading {
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 4px;
	text-box-trim: trim-both;
}
.sidebar-header {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 16px;
	margin-top: 34px;
}
@media (max-width: 899px) {
	.sidebar-header {
		margin-top: 2px;
		padding: 16px 20px;
	}
}
.sidebar-header p {
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0.5;
	margin-bottom: 0;
	text-box-trim: trim-both;
}
.sidebar-tabs {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 8px;
}
@media (max-width: 899px) {
	.sidebar-tabs {
		padding: 8px 12px;
	}
}
.sidebar-tabs a {
	background-color: rgba(0,0,0,0);
	opacity: 0.5;
	padding: 6px 8px;
	border-radius: 6px;
	font-size: 1.4rem;
	font-weight: 550;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	cursor: pointer;
	text-box-trim: trim-both;
}
.sidebar-tabs a.active,
.sidebar-tabs a:hover {
	background-color: rgba(0,0,0,0.05);
	opacity: 1;
}
.sidebar-content {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 16px;
	gap: 10px;
}
@media (max-width: 899px) {
	.sidebar-content {
		padding: 16px 20px;
	}
}
.sidebar-content p {
	font-size: 1.3rem;
	margin: 0;
	text-box-trim: trim-both;
}

.portfolio-label {
	font-size: 3.2rem;
	line-height: 1.2;
	font-weight: 350;
	max-width: 20ch;
	color: white;
	margin: 0;
	text-transform: none;
	@media (max-width: 899px) {
		font-size: 2.4rem;
	}
}
.h2-label, .h2-label-grid {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin-top: 40px;
	margin-bottom: 40px;
	align-items: center;
}
.h2-label-grid {
	margin-top: 80px;
	margin-bottom: 60px;
}
@media screen and (max-width: 1099px) {
	.h2-label {
		margin-top: 44px;
		margin-bottom: 14px;
	}
	.h2-label svg, .h2-label-grid svg {
		width: 18px;
	}
	.h2-label-grid {
		margin-top: 44px;
		margin-bottom: 44px;
	}
}

.figmaleft {
	color-scheme: only light;
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	height: 100%;
	width: 70px;
	background-color: white;
	background-image: url(images/left.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 70px auto;
}
.figmaright {
	color-scheme: only light;
	position: fixed;
	z-index: 1100;
	top: 0;
	right: 0;
	height: 100%;
	width: 70px;
	background-color: white;
	background-image: url(images/right.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 70px auto;
}
.figmacenter {
	color-scheme: only light;
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	height: 32px;
	width: 100%;
	background-color: #f0f0f0;
	background-image: url(images/middle.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 32px;
	border-bottom: 1px solid #d8d8d8;
	@media (max-width: 899px) {
		position: relative;
		height: 19px;
		background-position: left top;
		background-size: auto 19px;
	}
}
@media screen and (max-width: 1099px) {
	.figmaleft, .figmaright {
		display: none;
		}
	.figmacenter 
}
@media screen and (max-width: 899px) {
	.figmaleft, .figmaright {
		width: 16px;
		background-size: 16px auto;
	}
	.figmacenter {
		height: 24px;
		background-position: left top;
		background-size: auto 24px;
		border-bottom: 0.5px solid #d8d8d8;
	}
}

/* Portfolio Section */
.container {
	max-width: 800px;
}

section.portfolio-section {
	margin-left: 260px;
	margin-right: 90px;
}
.portfolio-section {
	color: #2c2c2c;
	margin-left: 0;
	margin-top: 120px;
}
@media screen and (max-width: 1099px) {
	section.portfolio-section {
		margin-left: 240px;
		margin-right: auto;
	}
	.portfolio-section {
		margin-top: 80px;
	}
}
@media screen and (max-width: 899px) {
	section.portfolio-section {
		margin-left: auto;
		overflow-x: hidden;
	}
	.portfolio-section {
		margin-top: 20px;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:40px;
	@media (max-width: 1099px) {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
}

.portfolio-card {
	opacity: 1;
	display: block;
}
.portfolio-card.hidden {
	display: none !important;
	opacity: 0;
}

.portfolio-card .card, .portfolio-card .card-row {
	position: relative;
	flex-grow: 1;
    max-width: 100%;
	height: unset;
	background-color: white;
	margin: 0 0 40px;
	padding: 60px;
	border-radius: 1px !important;
	transition: transform 100ms ease-out;
	z-index: 1;
	@media (min-width: 600px) and (max-width: 1099px) {
		padding: 40px;
		margin-bottom: 30px;
	}
	@media (max-width: 599px) {
		padding: 20px;
		margin-bottom: 28px;
	}
}

.portfolio-card .card-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
}
@media screen and (max-width: 599px) {
	.portfolio-card .card-row {
		flex-direction: column;
		gap: 20px;
	}
	.portfolio-card .card-row>div {
		width: 100% !important;
	}
}

.portfolio-card .card:not(.drag), .portfolio-card .card-row:not(.drag) {
	overflow: hidden;
	max-width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 899px) {
	.portfolio-card .card:not(.drag) {
		width: 100%;
		min-width: 0;
	}
	
	.portfolio-card .card:not(.drag) video {
		max-width: 100%;
		width: auto !important;
	}
}
.portfolio-card[data-overlay] .card,
.portfolio-card[data-overlay] .card * {
	cursor: pointer !important;
}
.grid .portfolio-card .card {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
	padding: 0;
}
.full-container {
	margin-bottom: 28px;
}
@media screen and (max-width: 1099px) {
	.grid .portfolio-card .card {
		margin: 0 20px;
	}
	.full-container:not(.grid)>div {
		margin-left: 20px;
		margin-right: 20px;
	}
	.container {
		width: 100%;
	}
	.full-container {
		max-width: 800px;
		margin-top: 30px;
	}
}

/* Pills Container */
.pills-container {
	position: absolute;
	top: -30px;
	left: -1px;
	z-index: 10;
	display: flex;
	gap: 3px;
	align-items: center;
}
.normal-pill {
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: 400;
	text-transform: none;
	color: rgba(255, 255, 255, 0.5);
	width: fit-content;
	display: inline-block;
	margin: 0 0 4px;
}
.company-pill {
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: 400;
	text-transform: none;
	color: white;
	background-color: #000;
	border-radius: 3px;
	padding: 3px 8px;
	margin: 0;
	height: 25.2px;
	width: fit-content;
	display: inline-block;
}
.status-pill {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	font-size: 1.2rem;
	font-weight: 400;
	color: white;
	background-color: rgba(255,255,255,0.1);
	border-radius: 3px;
	padding: 3px 8px 3px 3px;
	width: fit-content;
}
.status-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background-color: #00B14F;
	border-radius: 2px;
	font-size: 0.9rem;
	color: white;
	font-weight: 600;
}
.status-text {
	font-size: 1.2rem;
}

.portfolio-card .card .title, .overlay-title {
	opacity: 0.4;
	font-size: 1.2rem;
	margin-bottom: 8px;
	text-transform: unset;
    font-weight: 500;
}

.portfolio-card .card:hover {
	transform: scale(1.01);
	@media (max-width: 899px) {
		transform: none;
	}
}

.portfolio-card .switch {
	display: inline-flex;
	align-items: center;
	position: relative;
	user-select: none;
	transition: background 0.2s;
	width: 100%;
}

.portfolio-card .project-feature {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	padding: 0;
	margin-bottom: 0;
	align-items: center;
}

.cursor {
	top: unset;
	bottom: 100px;
	right: 20px;
	color: white;
}

.jam1 {
	width:100%;
	height:auto;
	transform:rotate(-5deg) translate(-90px, -80px);
	border-radius:6px;
	box-shadow:10px 21px 47px rgba(0, 0, 0, 0.05);
}
.jam2 {
	width:100%;
	height:auto;
	transform:rotate(-5deg) translate(80px, 60px);
	border-radius:6px;
	box-shadow:-10px -21px 47px rgba(0, 0, 0, 0.05);
}
.improv {
	margin: -40px auto -60px;
	min-height: 400px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
@media (max-width: 1099px) {
	.improv {
		margin: -20px auto -40px;
	}
}
@media (max-width: 899px) {
	.jam1 {
		transform: rotate(-5deg) translate(-50px, -80px);
	}
	.jam2 {
		transform: rotate(-5deg) translate(60px, 60px);
	}
	.polaroid1 {
		margin-bottom: -30px;
	}
	.polaroid2 {
		display: none;
    }
	.graba11y {
		transform: rotate(-5deg) translate(72px, 50px) !important;
        transform-origin: bottom;
        margin-bottom: -40px;
	}
}
@media (max-width: 599px) {
	.jam1 {
		transform: rotate(-5deg) translate(-34px, -30px);
	}
	.jam2 {
		transform: rotate(-5deg) translate(30px, 20px);
	}
	.improv {
		margin: -20px auto -20px;
		min-height: 380px;
	}
	.graba11y {
        margin-bottom: -10px;
        bottom: 24px;
        left: -20px;
        position: relative;
	}
}
@media (max-width: 1099px) {
	.graba11y {
		width: 500px !important;
	}
}
.numbering {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
}
.numbering div {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 250px;
}

.end-text {
    overflow: hidden;
    text-align: center;
	color: white;
    width: 100%;
  }
.end-text::before,
.end-text::after {
	background-color: rgb(255, 255, 255);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	opacity: 0.4;
}

.end-text::before {
	right: 0.5em;
	margin-left: -50%;
}

.end-text::after {
	left: 0.5em;
	margin-right: -50%;
}

@media (min-width: 900px) {
	.normal-pill:hover {
		color: #80CAFF;
		cursor: move;
	}
	.card:not(.drag), .card-row:not(.drag) {
		cursor: move;
	}
	.portfolio-card:hover>.normal-pill {
		color: #80CAFF;
	}
	.portfolio-card:hover>.card:not(.drag), .portfolio-card:hover>.card-row:not(.drag) {
		outline: 1.5px solid #0B99FF;
	}
	.normal-pill:hover + .card, .normal-pill:hover + .card-row {
		outline: 1.5px solid #0B99FF;
	}
	.drag:hover {
		outline: 1.5px solid #0B99FF;
	}
	.drag::before, .drag::after, .drag span::before, .drag span::after {
		outline: 1.5px solid #0B99FF;
	}
	.hidden-emoji {
		cursor: move;
	}
}
